


comando para verificar se os container estar na mesma rede;
 - docker network inspect <nome da rede>

criando uma rede docket
- docker network create <nome da rede>


conectando o container
-docker network connect sge-network <seu-container>

buildando o container
- docker build -t <seu container> 

executando o container
- docker run -p 8080:8080 --env-file .env <seu container>



